@keyframes hexagon {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(90deg) scale(0.5);
    }

    100% {
        transform: rotate(180deg) scale(1);
    }
}